//
// OVERALL ELEMENTS
//

*, html, body
    color: $color-default
    font-family: $font
    font-weight: $font-regular
    font-size: 14px
    &::selection
        background-color: rgba(0,0,0,0.2)

body
    position: relative // To attach the mobile header

    
//
// HEADERS
//

h1, h2, h3, h4, h5, h6
    font-weight: $font-bold


//
// PARAGRAPHS
//

p
    line-height: 1.9


//
// ANCHORS / LINKS
//

a,
a:link,
a:hover,
a:focus
    text-decoration: none