*, html, body {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px; }
  *::-moz-selection, html::-moz-selection, body::-moz-selection {
    background-color: rgba(0, 0, 0, 0.2); }
  *::selection, html::selection, body::selection {
    background-color: rgba(0, 0, 0, 0.2); }

body {
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

p {
  line-height: 1.9; }

a,
a:link,
a:hover,
a:focus {
  text-decoration: none; }

.shadow, #site-header.filled {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05); }

.transition, .cta.cta_link, .cta.cta_link:after, .cta.cta_link .cta-icon, .reveal-image img, .reveal-content, #site-header, #site-header .brand,
#site-header .burger-menu, .site-header-mobile, .site-header-mobile .mobile-menu .mobile-menu-items li, #site-footer .social-accounts .nav-item, .recent-works .category-nav a.nav-link.item {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.slick-slider {
  margin-bottom: 0 !important; }

.slick-dots {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 4px; }
    .slick-dots li button {
      width: 10px;
      height: 10px; }
      .slick-dots li button::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid white;
        border-radius: 50px;
        opacity: 1; }
    .slick-dots li.slick-active button::before {
      background-color: white;
      opacity: 1 !important; }

.fa, .fas {
  font-family: "Font Awesome 5 Free" !important;
  color: inherit; }

.preheader {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 40px; }

.header {
  color: #000000;
  font-weight: 700;
  font-size: 3.4rem;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 1.1; }

.cta {
  position: relative; }
  .cta:focus, .cta:link, .cta:hover {
    text-decoration: none; }
  .cta.cta_link {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    letter-spacing: 3px; }
    .cta.cta_link:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 2px;
      width: 20%;
      background-color: #000000; }
    .cta.cta_link .cta-icon {
      font-size: inherit;
      margin-left: 10px; }
    .cta.cta_link:hover:after {
      width: 100%; }
    .cta.cta_link:hover .cta-icon {
      margin-left: 20px; }

.reveal {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s; }
  .reveal-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
    .reveal-image img {
      display: block;
      min-width: 100%;
      width: 100%; }
  .reveal-content {
    padding: 10px;
    background: black;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.762342) 0%, rgba(255, 255, 255, 0) 91%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.762342) 0%, rgba(255, 255, 255, 0) 91%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.762342)), color-stop(91%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.762342) 0%, rgba(255, 255, 255, 0) 91%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.762342) 0%, rgba(255, 255, 255, 0) 91%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.762342) 0%, rgba(255, 255, 255, 0) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .reveal-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: white; }
  .reveal-meta {
    font-size: .85rem;
    text-transform: capitalize;
    margin-bottom: 0;
    color: white; }
  .reveal:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1); }
    .reveal:hover .reveal-content {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

#site-header {
  padding: 36px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  #site-header .brand,
  #site-header .burger-menu {
    color: white; }
  #site-header .brand {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase; }

#site-header.filled {
  padding: 20px 50px;
  background-color: white;
  color: #000000; }
  #site-header.filled .brand,
  #site-header.filled .burger-menu {
    color: #000000; }

#site-header.hide {
  opacity: 0; }

.site-header-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#0d080c), color-stop(#121016), color-stop(#12171f), to(#0e1e25));
  background-image: -webkit-linear-gradient(left bottom, #000000, #0d080c, #121016, #12171f, #0e1e25);
  background-image: -o-linear-gradient(left bottom, #000000, #0d080c, #121016, #12171f, #0e1e25);
  background-image: linear-gradient(to right top, #000000, #0d080c, #121016, #12171f, #0e1e25);
  z-index: -1000;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .site-header-mobile .mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .site-header-mobile .mobile-menu .mobile-menu-items {
      text-transform: uppercase;
      text-align: center;
      padding: 10px 20px;
      display: block; }
      .site-header-mobile .mobile-menu .mobile-menu-items li {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 700; }
      .site-header-mobile .mobile-menu .mobile-menu-items:hover li {
        color: white; }
  .site-header-mobile.open {
    z-index: 2000;
    opacity: 1; }
  .site-header-mobile-close {
    position: absolute;
    top: 40px;
    right: 40px;
    border: 1px solid #414141;
    border-radius: 50px;
    padding: 20px;
    width: 50px;
    height: 50px;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .site-header-mobile-close:link, .site-header-mobile-close:hover, .site-header-mobile-close:focus {
      color: white; }
    .site-header-mobile-close .icon {
      position: absolute;
      padding: 0;
      -webkit-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s;
      opacity: 0.4; }
    .site-header-mobile-close .text {
      -webkit-transition: all 0.24s;
      -o-transition: all 0.24s;
      transition: all 0.24s;
      -webkit-transform: translateX(-55px);
      -ms-transform: translateX(-55px);
      transform: translateX(-55px);
      opacity: 0;
      text-transform: uppercase;
      font-weight: 700;
      color: white; }
      .site-header-mobile-close .text:after {
        display: inline-block;
        content: "";
        width: 0px;
        height: 1px;
        background: white;
        position: absolute;
        top: 9px;
        right: -36px; }
    .site-header-mobile-close:hover {
      border-color: white; }
      .site-header-mobile-close:hover .icon {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 1; }
      .site-header-mobile-close:hover .text {
        -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
        transform: translateX(-85px);
        opacity: 1; }
        .site-header-mobile-close:hover .text:after {
          width: 27px; }

.banner {
  position: relative;
  min-height: 700px;
  height: 100vh;
  background-color: #000000; }
  .banner-preheader {
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 60px; }
  .banner-header {
    font-size: 4.5rem;
    color: white;
    text-transform: uppercase;
    line-height: 0.85; }
  .banner-content {
    width: 80%; }
  .banner-arrow {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px; }
    .banner-arrow a,
    .banner-arrow a:link,
    .banner-arrow a:focus,
    .banner-arrow a:hover {
      text-decoration: none;
      border: 2px solid white;
      border-radius: 50px;
      margin-top: 50px;
      padding: 12px;
      width: 20px;
      height: 20px;
      z-index: 100;
      color: white !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .banner-arrow:hover a {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px); }
  .banner .slick-fade,
  .banner .slick-list,
  .banner .slick-track,
  .banner .slick-slide > div:first-child {
    height: 100%; }
  .banner .banner-slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
    .banner .banner-slide .banner-slide-container {
      width: 50%; }
    .banner .banner-slide-slide-container {
      width: 50%;
      font-size: 1rem; }
  .banner .slick-dots {
    bottom: 20px; }
  .banner .slider-button-prev,
  .banner .slider-button-next {
    position: absolute;
    top: 45%;
    z-index: 10; }
    .banner .slider-button-prev a,
    .banner .slider-button-prev a:link,
    .banner .slider-button-prev a:focus,
    .banner .slider-button-prev a:visited,
    .banner .slider-button-next a,
    .banner .slider-button-next a:link,
    .banner .slider-button-next a:focus,
    .banner .slider-button-next a:visited {
      display: block;
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      text-orientation: upright;
      color: rgba(255, 255, 255, 0.3);
      text-transform: uppercase;
      -webkit-transition: color 0.4s;
      -o-transition: color 0.4s;
      transition: color 0.4s;
      font-size: 0.7rem;
      font-weight: 700; }
    .banner .slider-button-prev a:hover,
    .banner .slider-button-next a:hover {
      color: rgba(255, 255, 255, 0.6); }
  .banner .slider-button-prev {
    left: 20px; }
  .banner .slider-button-next {
    right: 20px; }

#site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000; }
  #site-footer .social-accounts .nav-link {
    padding: 10px; }
  #site-footer .social-accounts .nav-link > span {
    color: white !important;
    -webkit-transition: all 0.18s;
    -o-transition: all 0.18s;
    transition: all 0.18s; }
  #site-footer .social-accounts .nav-item:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: white; }
    #site-footer .social-accounts .nav-item:hover .nav-link > span {
      color: #000000 !important; }
  #site-footer .copyright {
    text-align: center;
    margin-bottom: 0;
    font-size: 0.9rem; }
    #site-footer .copyright a {
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      font-size: inherit; }

.main {
  padding-top: 120px;
  padding-bottom: 30px; }

.about-us {
  padding-top: 60px;
  padding-bottom: 60px; }
  .about-us .section {
    margin-bottom: 100px; }
    .about-us .section:last-child {
      margin-bottom: 0; }
    .about-us .section-text {
      padding-left: 120px; }
    .about-us .section-counter {
      position: absolute;
      bottom: 0;
      color: #000000;
      font-size: 1.2rem;
      font-weight: 700; }
    .about-us .section-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      position: relative; }
    .about-us .section-contents {
      width: 50%; }
    .about-us .section-image {
      width: 40%;
      position: relative; }
      .about-us .section-image:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 170%;
        height: 100%;
        background-color: rgba(153, 153, 153, 0.1);
        z-index: -1; }
    .about-us .section:nth-child(even) {
      text-align: right; }
      .about-us .section:nth-child(even) .section-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
      .about-us .section:nth-child(even) .section-image:after {
        left: 0; }
      .about-us .section:nth-child(even) .section-counter {
        right: 0; }

.recent-works {
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 60px; }
  .recent-works .category-nav {
    margin-bottom: 20px; }
  .recent-works .category-nav a.nav-link.item {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(153, 153, 153, 0.5); }
    .recent-works .category-nav a.nav-link.item:first-child {
      padding-left: 0; }
    .recent-works .category-nav a.nav-link.item:last-child {
      padding-right: 0; }
    .recent-works .category-nav a.nav-link.item.active, .recent-works .category-nav a.nav-link.item:hover {
      color: #000000; }

.clients {
  padding-top: 60px;
  padding-bottom: 60px; }
  .clients .slick-slide img {
    margin-left: auto;
    margin-right: auto; }

@media (max-width: 992px) {
  .about-us .section {
    overflow: hidden;
    position: relative;
    padding: 20px 0; }
    .about-us .section-container {
      position: static; }
    .about-us .section-contents {
      width: 65%; }
    .about-us .section-text {
      padding-left: 60px; }
    .about-us .section-image {
      position: absolute;
      right: -130px; }
    .about-us .section-counter {
      display: none; }
    .about-us .section:nth-child(even) {
      text-align: right; }
      .about-us .section:nth-child(even) .section-image {
        left: -130px; }
  .reveal-image {
    height: 250px; } }

@media (max-width: 768px) {
  .slider-button-prev,
  .slider-button-next {
    display: none; }
  .about-us .section {
    padding: 50px 0; }
    .about-us .section-contents {
      width: 100%; }
    .about-us .section-image {
      right: -160px; }
      .about-us .section-image img {
        opacity: 0; }
      .about-us .section-image:after {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        right: -130px; }
    .about-us .section:nth-child(even) .section-image {
      left: -160px; }
      .about-us .section:nth-child(even) .section-image:after {
        left: -130px; } }

@media (max-width: 576px) {
  #site-header,
  #site-header.filled {
    padding-left: 15px;
    padding-right: 15px; }
  .header {
    font-size: 3rem; }
  .about-us .section-image:after {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); } }

@media (max-width: 425px) {
  .about-us .section {
    padding: 0; }
    .about-us .section-text {
      padding: 0; }
    .about-us .section-image:after {
      display: none; } }
