*, html, body {
  color: #999999;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 14px; }

p {
  line-height: 1.9; }

.shadow, #site-header.filled {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05); }

.transition, .cta.cta_link, .cta.cta_link .cta-icon, #site-header, #site-header .brand,
#site-header .burger-menu, .recent-works .text.menu .item {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.swiper-container .swiper-slide-contents {
  width: 40%; }
.swiper-container .swiper-slide {
  background-color: #000000; }

.swiper-pagination {
  position: absolute;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  bottom: 55px;
  left: 0;
  right: 0; }
  .swiper-pagination-bullet {
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.8); }
  .swiper-pagination-bullet-active {
    background-color: white; }

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 45%; }
  .custom-swiper-button-prev a,
  .custom-swiper-button-prev a:link,
  .custom-swiper-button-prev a:focus,
  .custom-swiper-button-prev a:visited,
  .custom-swiper-button-next a,
  .custom-swiper-button-next a:link,
  .custom-swiper-button-next a:focus,
  .custom-swiper-button-next a:visited {
    display: block;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
    font-size: 0.7rem;
    font-weight: 700; }
  .custom-swiper-button-prev a:hover,
  .custom-swiper-button-next a:hover {
    color: rgba(255, 255, 255, 0.6); }

.custom-swiper-button-prev {
  left: 40px; }

.custom-swiper-button-next {
  right: 40px; }

.fa, .fas {
  font-family: "Font Awesome 5 Free" !important;
  color: inherit; }

.preheader {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 40px; }

.header {
  color: #000000;
  font-weight: 700;
  font-size: 3.4rem;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 1.1; }

.cta.cta_link {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3px; }
  .cta.cta_link .cta-icon {
    font-size: inherit;
    margin-left: 10px; }
  .cta.cta_link:hover {
    letter-spacing: 3.3px; }
  .cta.cta_link:hover .cta-icon {
    margin-left: 20px; }

#site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  padding: 36px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  #site-header .brand,
  #site-header .burger-menu {
    color: white; }
  #site-header .brand {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase; }

#site-header.filled {
  padding: 20px 50px;
  background-color: white;
  color: #000000; }
  #site-header.filled .brand,
  #site-header.filled .burger-menu {
    color: #000000; }

.banner {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 700px;
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .banner_preheader {
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 60px; }
  .banner_header {
    font-size: 4.5rem;
    color: white;
    text-transform: uppercase;
    line-height: 0.85; }
  .banner_content {
    font-size: 1rem; }
  .banner_arrow {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px; }
    .banner_arrow a {
      border: 2px solid white;
      border-radius: 50px;
      margin-top: 50px;
      padding: 3px 2px 2px 2px;
      width: 20px;
      height: 20px;
      z-index: 100;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .banner_arrow:hover a {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px); }

.about-us {
  padding-top: 175px;
  padding-bottom: 175px; }
  .about-us .section {
    margin-bottom: 100px; }
    .about-us .section:last-child {
      margin-bottom: 0; }
    .about-us .section-text {
      padding-left: 120px; }
    .about-us .section-counter {
      position: absolute;
      bottom: 0;
      color: #000000;
      font-size: 1.2rem;
      font-weight: 700; }
    .about-us .section-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      position: relative; }
    .about-us .section-contents {
      width: 50%; }
    .about-us .section-image {
      width: 40%;
      position: relative; }
      .about-us .section-image:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 170%;
        height: 100%;
        background-color: rgba(153, 153, 153, 0.1);
        z-index: -1; }
    .about-us .section:nth-child(even) {
      text-align: right; }
      .about-us .section:nth-child(even) .section-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
      .about-us .section:nth-child(even) .section-image:after {
        left: 0; }
      .about-us .section:nth-child(even) .section-counter {
        right: 0; }

.recent-works {
  padding-bottom: 175px; }
  .recent-works .text.menu .item {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(153, 153, 153, 0.5); }
    .recent-works .text.menu .item.active, .recent-works .text.menu .item.hover {
      color: #000000; }


