*, html, body {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px; }

body {
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

p {
  line-height: 1.9; }

a,
a:link,
a:hover,
a:focus {
  text-decoration: none; }

.shadow, #site-header.filled {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05); }

.transition, .cta.cta_link, .cta.cta_link:after, .cta.cta_link .cta-icon, .reveal-image img, .reveal-content, #site-header, #site-header .brand,
#site-header .burger-menu, .site-header-mobile .mobile-menu .mobile-menu-items li, #site-footer .social-accounts .nav-item, .recent-works .category-nav a.nav-link.item {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.swiper-container .swiper-slide-contents {
  width: 40%; }
.swiper-container .swiper-slide {
  background-color: #000000; }

.swiper-pagination {
  position: absolute;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  bottom: 55px;
  left: 0;
  right: 0; }
  .swiper-pagination-bullet {
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.8); }
  .swiper-pagination-bullet-active {
    background-color: white; }

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 45%; }
  .custom-swiper-button-prev a,
  .custom-swiper-button-prev a:link,
  .custom-swiper-button-prev a:focus,
  .custom-swiper-button-prev a:visited,
  .custom-swiper-button-next a,
  .custom-swiper-button-next a:link,
  .custom-swiper-button-next a:focus,
  .custom-swiper-button-next a:visited {
    display: block;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
    font-size: 0.7rem;
    font-weight: 700; }
  .custom-swiper-button-prev a:hover,
  .custom-swiper-button-next a:hover {
    color: rgba(255, 255, 255, 0.6); }

.custom-swiper-button-prev {
  left: 40px; }

.custom-swiper-button-next {
  right: 40px; }

.fa, .fas {
  font-family: "Font Awesome 5 Free" !important;
  color: inherit; }

.preheader {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 40px; }

.header {
  color: #000000;
  font-weight: 700;
  font-size: 3.4rem;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 1.1; }

.cta {
  position: relative; }
  .cta:focus, .cta:link, .cta:hover {
    text-decoration: none; }
  .cta.cta_link {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    letter-spacing: 3px; }
    .cta.cta_link:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 2px;
      width: 20%;
      background-color: #000000; }
    .cta.cta_link .cta-icon {
      font-size: inherit;
      margin-left: 10px; }
    .cta.cta_link:hover:after {
      width: 100%; }
    .cta.cta_link:hover .cta-icon {
      margin-left: 20px; }

.reveal {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px; }
  .reveal-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    height: 250px; }
    .reveal-image img {
      height: 100%; }
  .reveal-content {
    padding: 10px;
    background: black;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.762342437) 0%, rgba(255, 255, 255, 0) 91%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.762342437) 0%, rgba(255, 255, 255, 0) 91%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.762342437)), color-stop(91%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.762342437) 0%, rgba(255, 255, 255, 0) 91%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.762342437) 0%, rgba(255, 255, 255, 0) 91%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.762342437) 0%, rgba(255, 255, 255, 0) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .reveal-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: white; }
  .reveal-meta {
    font-size: 0.85rem;
    text-transform: capitalize;
    margin-bottom: 0;
    color: white; }
  .reveal:hover .reveal-content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .reveal:hover .reveal-image img {
    height: 110%; }

#site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  padding: 36px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  #site-header .brand,
  #site-header .burger-menu {
    color: white; }
  #site-header .brand {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase; }

#site-header.filled {
  padding: 20px 50px;
  background-color: white;
  color: #000000; }
  #site-header.filled .brand,
  #site-header.filled .burger-menu {
    color: #000000; }

.site-header-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#0d080c), color-stop(#121016), color-stop(#12171f), to(#0e1e25));
  background-image: -webkit-linear-gradient(left bottom, #000000, #0d080c, #121016, #12171f, #0e1e25);
  background-image: -o-linear-gradient(left bottom, #000000, #0d080c, #121016, #12171f, #0e1e25);
  background-image: linear-gradient(to right top, #000000, #0d080c, #121016, #12171f, #0e1e25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .site-header-mobile .mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .site-header-mobile .mobile-menu .mobile-menu-items {
      text-transform: uppercase;
      text-align: center;
      padding: 10px 20px;
      display: block; }
      .site-header-mobile .mobile-menu .mobile-menu-items li {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 700; }
      .site-header-mobile .mobile-menu .mobile-menu-items:hover li {
        color: white; }
  .site-header-mobile.open {
    z-index: 1000;
    opacity: 1; }
  .site-header-mobile-close {
    position: relative;
    margin-top: 40px;
    border: 1px solid #414141;
    border-radius: 50px;
    padding: 20px;
    width: 50px;
    height: 50px;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .site-header-mobile-close:link, .site-header-mobile-close:hover, .site-header-mobile-close:focus {
      color: white; }
    .site-header-mobile-close .icon {
      position: absolute;
      padding: 0;
      -webkit-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s;
      opacity: 0.4; }
    .site-header-mobile-close:hover {
      border-color: white; }
      .site-header-mobile-close:hover .icon {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        padding-bottom: 3px;
        opacity: 1; }

.banner {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 700px;
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .banner_preheader {
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 60px; }
  .banner_header {
    font-size: 4.5rem;
    color: white;
    text-transform: uppercase;
    line-height: 0.85; }
  .banner_content {
    font-size: 1rem; }
  .banner_arrow {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px; }
    .banner_arrow a,
    .banner_arrow a:link,
    .banner_arrow a:focus,
    .banner_arrow a:hover {
      text-decoration: none;
      border: 2px solid white;
      border-radius: 50px;
      margin-top: 50px;
      padding: 12px;
      width: 20px;
      height: 20px;
      z-index: 100;
      color: white !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .banner_arrow:hover a {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px); }

#site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000; }
  #site-footer .social-accounts .nav-link {
    padding: 10px; }
  #site-footer .social-accounts .nav-link > span {
    color: white !important;
    -webkit-transition: all 0.18s;
    -o-transition: all 0.18s;
    transition: all 0.18s; }
  #site-footer .social-accounts .nav-item:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: white; }
    #site-footer .social-accounts .nav-item:hover .nav-link > span {
      color: #000000 !important; }
  #site-footer .copyright {
    text-align: center;
    margin-bottom: 0; }
    #site-footer .copyright a {
      text-transform: uppercase;
      font-weight: 700;
      color: white; }

.main {
  padding-top: 120px;
  padding-bottom: 30px; }

.about-us {
  padding-top: 60px;
  padding-bottom: 60px; }
  .about-us .section {
    margin-bottom: 100px; }
    .about-us .section:last-child {
      margin-bottom: 0; }
    .about-us .section-text {
      padding-left: 120px; }
    .about-us .section-counter {
      position: absolute;
      bottom: 0;
      color: #000000;
      font-size: 1.2rem;
      font-weight: 700; }
    .about-us .section-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      position: relative; }
    .about-us .section-contents {
      width: 50%; }
    .about-us .section-image {
      width: 40%;
      position: relative; }
      .about-us .section-image:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 170%;
        height: 100%;
        background-color: rgba(153, 153, 153, 0.1);
        z-index: -1; }
    .about-us .section:nth-child(even) {
      text-align: right; }
      .about-us .section:nth-child(even) .section-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
      .about-us .section:nth-child(even) .section-image:after {
        left: 0; }
      .about-us .section:nth-child(even) .section-counter {
        right: 0; }

.recent-works {
  padding-top: 60px;
  padding-bottom: 60px; }
  .recent-works .category-nav {
    margin-bottom: 20px; }
  .recent-works .category-nav a.nav-link.item {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(153, 153, 153, 0.5); }
    .recent-works .category-nav a.nav-link.item:first-child {
      padding-left: 0; }
    .recent-works .category-nav a.nav-link.item:last-child {
      padding-right: 0; }
    .recent-works .category-nav a.nav-link.item.active, .recent-works .category-nav a.nav-link.item:hover {
      color: #000000; }

.clients {
  padding-top: 60px;
  padding-bottom: 60px; }
  .clients .col {
    text-align: center; }


