//
// VARIABLES
//

$padding: 60px


//
// MAIN | contents after the banner -------------------------------------------
//

.main
    padding-top: $padding * 2
    padding-bottom: $padding / 2



//
// ABOUT US -------------------------------------------------------------------
//

.about-us
    padding-top: $padding
    padding-bottom: $padding

    //
    // SECTION
    //

    .section
        margin-bottom: 100px

    
        //
        // LAST CHILD
        //

        &:last-child
            margin-bottom: 0


        //
        // TEXT
        //

        &-text
            padding-left: 120px



        //
        // COUNTER
        //
        
        &-counter
            position: absolute
            bottom: 0
            color: $color-accent
            font-size: 1.2rem
            font-weight: $font-bold



        //
        // SECTION CONTAINER
        //
        
        &-container
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-between
            align-items: center
            align-content: stretch
            position: relative


        //
        // SECTION CONTENTS
        //

        &-contents
            width: 50%


        //
        // SECTION IMAGE
        //

        &-image
            width: 40%
            position: relative
            
            //
            // OVERLAPPING GRAY BACKGROUND
            //

            &:after
                content: ''
                display: block
                position: absolute
                right: 0
                top: 0
                bottom: 0
                width: 170%
                height: 100%
                background-color: transparentize($color-default, 0.9)
                z-index: -1
        
        //
        // ALTERNATING ALIGNMENT EFFECT ---------------------------------------
        //

        &:nth-child(even)
            text-align: right
            
            //
            // SECTION CONTAINER
            //

            .section-container
                flex-direction: row-reverse

    
            //
            // SECTION IMAGE
            //

            .section-image:after
                left: 0


            //
            // COUNTER
            //

            .section-counter
                right: 0




//
// RECENT WORKS ---------------------------------------------------------------
//

.recent-works
    margin-top: 120px
    padding-top: $padding
    padding-bottom: $padding

    //
    // MENU
    //
    
    .category-nav
        margin-bottom: 20px

    .category-nav a.nav-link.item
        text-transform: uppercase
        font-weight: $font-bold
        color: transparentize($color-default, 0.5)
        @extend %transition

        //
        // FIRST AND LAST ITEM
        //

        &:first-child
            padding-left: 0

        &:last-child
            padding-right: 0

        //
        // ACTIVE ITEM
        //

        &.active,
        &:hover,
            color: $color-accent



//
// CLIENTS --------------------------------------------------------------------
//

.clients
    padding-top: $padding
    padding-bottom: $padding

    //
    // SINGLE CLIENT ITEM
    //

    .col
        text-align: center