//
// ABOUT US -------------------------------------------------------------------
//

.about-us

	//
	// SECTION
	//

	.section
		padding: 0

		//
		// TEXT
		//

		&-text
			padding: 0


		//
		// IMAGE
		//

		&-image:after
			display: none