//
// SITE HEADER ----------------------------------------------------------------
//

#site-header,
#site-header.filled
	padding-left: 15px
	padding-right: 15px


//
// MOBILE HEADER CLOSE BUTTON -------------------------------------------------
//

.site-header-mobile-close
	top: 30px
	right: 18px

	
//
// HEADER ---------------------------------------------------------------------
//

.header
	font-size: 3rem



//
// CTA ------------------------------------------------------------------------
//

.cta
	&.cta_link
		font-size: 1rem

//
// BANNER ---------------------------------------------------------------------
//

.banner
	//
	// HEADER
	//

	&-header
		font-size: 3.5rem

	//
	// CONTENT CONTAINER
	//

   .banner-slide .banner-slide-container
       width: 100%


	
//
// ABOUT US -------------------------------------------------------------------
//

.about-us

	//
	// SECTION
	//

	.section

		//
		// IMAGE
		//

		&-image:after
			transform: scale(2)


//
// RECENT WORKS ---------------------------------------------------------------
//

.recent-works
	margin-top: 60px