//
// VARIABLES ------------------------------------------------------------------
//

$offset: 40px

//
// SLICK JS -------------------------------------------------------------------
//

.slick-slider
    margin-bottom: 0 !important

//
// PAGINATION -----------------------------------------------------------------
//

.slick-dots
    position: absolute
    width: 100%
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0

    //
    // DEFAULT BULLETS
    //

    li
        width: 10px
        height: 10px
        margin: 0 4px

        // 
        // BULLET
        //

        button
            width: 10px
            height: 10px
            &::before
                content: ""
                display: block
                width: 10px
                height: 10px
                border: 1px solid white
                border-radius: 50px
                opacity: 1

        //
        // ACTIVE BULLET
        //

        &.slick-active button::before
            background-color: white
            opacity: 1 !important


