//
// VARIABLES ------------------------------------------------------------------
//

$offset: 40px

//
// SWIPER ---------------------------------------------------------------------
//

.swiper-container

    //
    // CUSTOM: Not included in the default SwiperJS
    // Slider contents container to make the width 50%
    //

    .swiper-slide-contents
        width: 40%

    //
    // SINGLE SLIDE
    //

    .swiper-slide
        background-color: $color-accent

//
// PAGINATION -----------------------------------------------------------------
//

.swiper-pagination
    position: absolute
    width: 100%
    margin-left: auto
    margin-right: auto
    bottom: $offset + 15
    left: 0
    right: 0

    //
    // DEFAULT BULLETS
    //

    &-bullet
        margin: 0 5px
        background-color: rgba(255, 255, 255, 0.8)

    //
    // ACTIVE BULLET
    //

    &-bullet-active
        background-color: white

//
// SWIPER CONTROLS ------------------------------------------------------------
//

.custom-swiper-button-prev,
.custom-swiper-button-next
    position: absolute
    top: 45%
    z-index: 10

    a,
    a:link,
    a:focus,
    a:visited
        display: block
        writing-mode: vertical-lr
        text-orientation: upright
        color: rgba(255, 255, 255, 0.3)
        text-transform: uppercase
        transition: color 0.4s
        font-size: 0.7rem
        font-weight: $font-bold

    a:hover
        color: rgba(255, 255, 255, 0.6)

.custom-swiper-button-prev
    left: $offset - 20

.custom-swiper-button-next
    right: $offset - 20
