//
// About Us -------------------------------------------------------------------
//

.about-us
    $padding: 250px
    padding-top: $padding
    padding-bottom: $padding

    //
    // Section
    //

    .section

        //
        // Preheader
        //

        &-preheader


        //
        // Header
        //

        &-header

        //
        // Text
        //

        &-text