//
// BANNER ---------------------------------------------------------------------
//

.banner
    position: relative
    min-height: 700px
    height: 100vh
    background-color: $color-accent


    //
    // PREHEADER
    //

    &-preheader
        text-transform: uppercase
        font-size: 0.95rem
        font-weight: $font-bold
        margin-bottom: 50px
        color: transparentize(white, 0.2)

    //
    // HEADER
    //

    &-header
        font-size: 4.5rem
        color: $white
        text-transform: uppercase
        line-height: 0.85
        margin-bottom: 15px
        text-shadow: 0px 0px 40px rgba(0,0,0,0.4)


    //
    // CONTENT
    //

    &-content
        width: 80%
        color: transparentize(white, 0.2)

    //
    // ARROW
    //

    &-arrow 
        display: inline-block
        margin-top: 10px
        margin-bottom: 10px

        a,
        a:link,
        a:focus,
        a:hover,
            $dimension: 20px

            text-decoration: none
            border: 2px solid white
            border-radius: 50px
            margin-top: 50px
            padding: 12px 
            width: $dimension
            height: $dimension
            z-index: 100
            color: white !important

            display: flex
            align-content: center
            justify-content: center
            align-items: center

            transition: all 0.4s
            
        &:hover
            a
                transform: translateY(5px)

    //
    // SLIDER -----------------------------------------------------------------
    //

    .slick-fade,
    .slick-list,
    .slick-track,
    .slick-slide > div:first-child
        height: 100%

    .banner-slide
        display: flex !important
        justify-content: center
        align-items: center
        height: 100%

        .banner-slide-container
            width: 50%
            


        //
        // SLIDER CONTAINER
        //

        &-slide-container
            width: 50%
            font-size: 1rem

    //
    // SLIDER CONTROLS ------------------------------------------------------------
    //
    
    .slick-dots
        bottom: 20px

    .slider-button-prev,
    .slider-button-next
        position: absolute
        top: 45%
        z-index: 10

        a,
        a:link,
        a:focus,
        a:visited
            display: block
            writing-mode: vertical-lr
            text-orientation: upright
            color: rgba(255, 255, 255, 0.3)
            text-transform: uppercase
            transition: color 0.4s
            font-size: 0.7rem
            font-weight: $font-bold

        a:hover
            color: rgba(255, 255, 255, 0.6)

    .slider-button-prev
        left: $offset - 20

    .slider-button-next
        right: $offset - 20