//
// BANNER ---------------------------------------------------------------------
//

.banner
    position: relative
    padding-top: 40px
    padding-bottom: 40px
    height: 700px
    background-color: $color-accent
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    align-content: stretch

    //
    // Preheader
    //

    &_preheader
        text-transform: uppercase
        font-size: 0.95rem
        font-weight: $font-bold
        margin-bottom: 60px

    //
    // Header
    //

    &_header
        font-size: 4.5rem
        color: $white
        text-transform: uppercase
        line-height: 0.85

    //
    // Content
    //

    &_content
        font-size: 1rem

    //
    // Arrow
    //

    &_arrow 
        display: inline-block
        margin-top: 10px
        margin-bottom: 10px

        a
            $dimension: 20px
            
            border: 2px solid white
            border-radius: 50px
            margin-top: 50px
            padding: 3px 2px 2px 2px 
            width: $dimension
            height: $dimension
            z-index: 100
            color: white

            display: flex
            align-content: center
            justify-content: center
            align-items: center

            transition: all 0.4s
            
        &:hover
            a
                transform: translateY(5px)