//
// FOOTER ---------------------------------------------------------------------
//

#site-footer
    $padding: 40px
    padding-top: $padding
    padding-bottom: $padding
    background-color: $color-accent

    //
    // SOCIAL ACCOUNTS
    //

    .social-accounts 

        //
        // LINK | li > a
        //
        .nav-link
            padding: 10px
        
        //
        // ICON | li > a > span
        //
        .nav-link > span
            color: white !important 
            +transition(0.18)

        //
        // LIST | ul > li
        //
            
        .nav-item
            @extend %transition

            &:hover
                transform: translateY(-5px)
                background-color: white

                .nav-link > span
                    color: $color-accent !important

    
    //
    // COPYRIGHT
    //

    .copyright
        text-align: center
        margin-bottom: 0

        a
            text-transform: uppercase
            font-weight: $font-bold
            color: white