//
// SITE HEADER ----------------------------------------------------------------
//

#site-header
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
	align-content: stretch
	padding: 20px
	position: fixed
	top: 0
	left: 0
	right: 0


	//
	// LOGO / BRAND and BURGER MENU -------------------------------------------
	//

	.brand,
	.burger-menu
		color: white

	
	//
	// LOGO / BRAND -----------------------------------------------------------
	//
	
	.brand
		font-family: $font-accent
		font-weight: $font-bold
		font-size: 1rem
		text-transform: uppercase